.lSensores {
    display: flex;
}

.lista {
    display: flex;
    flex-direction: row;
    width: 84.18vw;
}

.equip, .dtHora, .temp {
    width: 100%;
    padding-top: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.equip {
    background-color: #a1a1a16d;
}

.equip p:hover {
    cursor: pointer;
    background-color: #419c577b;
    color: #fff;
    transition: all 0.5s;
}

.temp {
    background-color: #a1a1a16d;
}

.data {
    border: outset black 2px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.status .bom {
    color: green;
  }
  .status .alto {
    color: red;
  }
  .status .baixo {
    color: orange;
  }
  