* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.menuLateral {
  display: flex;
  width: 35vh;
  height: 100vh;
  flex-direction: column;
  background-color: #2f713f;
}

.menuLateral h1 {
  color: #fff;
  width: 100%;
  font-size: 35px;
  padding: 40px;
  margin-right: 50px;
  text-align: center;
}

.opcoes {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.opcoes a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  text-decoration: none;
  color: #b8ffca;
}

.opcoes a:hover {
  background-color: #42d26686;
  color: #fff;
  transition: all 0.4s;
}

#dash {
  margin-bottom: 25%;
}

.opcoes .sair {
  display: flex;
  align-items: end;
  height: 70%;
}
