.modal-overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh;
    background-color: #00000080; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    z-index: 1000; 
  }
  
  .modal-content {
    background-color: #2f713f;
    padding: 50px;
    border-radius: 30px 3px 30px 3px;
    width: 450px;
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .botao-modal {
    background-color: #59db79;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    width: 50%;
    height: 30px;
    font-size: 20px;
    margin-bottom: -10px;
  }

  .botao-modal:hover {
    background-color: #59db7984;
    color: #fff;
    transition: all 0.3s;
  }

  .titulo-modal {
    width: 100%;
    color: #fff;
    font-size: 38px;
    text-align: center;
  }

  .titulo-modal b {
    color: #00ff33;
  }

  .subtitulo-modal {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 25px;
  } 

  .indicador-modal {
    width: 100%;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
  }

  .conjunto-lista {
    background-color: #ffffffb1;
    width: 90%;
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 20px;
  }
  
  .lista-leituras {
    color: #000;
    border-bottom: solid #000 2px;
    margin: 10px;
    text-align: center;
  }
  